@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
body{
    font-family: 'Belanosima', sans-serif;
font-family: 'Nunito', sans-serif;
    background-image: url(../img/foto.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;
    background-color: rgb(184, 184, 184);
}

div {
    text-align: center;
}
/*
h1 {
    font-size: 23px;
}
*/
p {
    font-size: 20px;
    text-shadow: 3px 5px 5px black;
}
.buttonG {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 1000px;
}
.button1 {
    background-color: #4CAF50;
    color: white; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: white; 
    color: black;
}

.buttonR {
    background-color: red; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 1000px;
}

.button2 {
    background-color: red;
    color: white; 
    border: 2px solid red;
}

.button2:hover {
    background-color: white; 
    color: black;
}

.pong{
    margin-left: 10%;
    width: 75%;
    height: 75%;
}

.hist{
    background-color: black;
    color: white;
    text-align: left;
}